<link rel="stylesheet" href="../assets/css/styles.css">
<link rel="shortcut icon" href="../assets/img/icone.svg" type="image/x-icon">

<header class="header bg-blue">
    <!-- A navbar será carregada dinamicamente -->
    <div id="navbar-placeholder"></div>

    <div class="header-inner text-white text-center">
        <div class="container grid">
            <div class="header-inner-left">
                <h1>Seu parceiro de confiança em <span>suprimentos hospitalares</span></h1>
                <p class="lead">Fornecimento seguro e ágil para hospitais e clínicas</p>
                <p class="text text-md">Oferecemos soluções completas em equipamentos, materiais e insumos médicos para atender às necessidades do seu hospital.</p>
                <div class="btn-group">
                    <a href="produtos.html" class="btn btn-white">Ver Produtos</a>
                    <a href="contato.html" class="btn btn-light-blue">Entrar em Contato</a>
                </div>
            </div>
            <div class="header-inner-right">
                <img src="assets/img/home2.png" alt="Equipamentos médicos">
            </div>
        </div>
    </div>
</header>

<script src="components/components.js"></script>
<script src="../assets/js/script.js"></script>
