<link rel="stylesheet" href="/assets/css/styles.css">

<nav class="navbar bg-blue">
    <div class="container flex">
        <a href="/index.html" class="navbar-brand">
            <img class="logo" src="/assets/img/logo.png" alt="site logo">
        </a>
        <button type="button" class="navbar-show-btn">
            <img src="/assets/img/ham-menu-icon.png" alt="menu">
        </button>

        <div class="navbar-collapse bg-white">
            <button type="button" class="navbar-hide-btn">
                <img src="/assets/img/close-icon.png" alt="fechar">
            </button>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/index.html#about" class="nav-link">Sobre</a></li>
                <li class="nav-item"><a href="/assets/pages/produtos.html" class="nav-link">Produtos</a></li>
                <li class="nav-item"><a href="produtos.html" class="nav-link">Encomendar</a></li>
                <li class="nav-item"><a href="/index.html#package-service" class="nav-link">Soluções</a></li>
                <li class="nav-item"><a href="/index.html#contact" class="nav-link">Contato</a></li>
            </ul>
            <div class="search-bar">
                <form>
                    <div class="search-bar-box flex">
                        <span class="search-icon flex">
                            <img src="/assets/img/search-icon.png" alt="buscar">
                        </span>
                        <input type="search" class="search-control" placeholder="Buscar aqui">
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>
